@charset "UTF-8";
main {
  padding-top: 0;
}

main .wrap {
  padding: 0 20px;
}

/* コーディネート写真 */
.code-imgs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 769px;
  padding-top: 20px;
}
.code-img {
  display: block;
  width: 27vw;
  height: calc(27vw * 5 / 4);
  box-sizing: border-box;
  margin: 0px 0px 20px;
  object-fit: cover;
  border-radius: 5px;
}

/* アンケート */
#questionnaire {
  box-sizing: border-box;
  margin-bottom: 40px;
}
#questionnaire .wrap-question {
  padding: 5px;
  border: 1px solid #555555;
  border-top: none;
  background-color: #ffcae4;
}
#questionnaire .wrap-question:first-child {
  border-top: 1px solid #555555;
  border-radius: 5px 5px 0px 0px;
}
#questionnaire .question {
  font-size: 1.2rem;
  line-height: 1;
  font-weight: bold;
  color: #232231;
}
#questionnaire .wrap-answer {
  padding: 5px;
  border: 1px solid #555555;
  border-top: none;
  background-color: #ffffff;
}
#questionnaire .wrap-answer:last-child {
  border-radius: 0px 0px 5px 5px;
}

/* チェックボタン */
.check-buttons {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.check-button {
  display: block;
  box-sizing: border-box;
  border: 2px solid #bdbdbd;
  background-color: #ffffff;
  border-radius: 20px;
  color: #bdbdbd;
  font-size: 1.6rem;
  line-height: 21px;
  padding: 0 10px;
  margin: 5px;
}
.checked {
  border-color: #f54ea2;
  color: #f54ea2;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

/* テキストエリア */
.answer-textarea {
  resize: none;
  display: block;
  border: 1px solid #555555;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1.6rem;
  line-height: 21px;
  width: calc(100% - 10px);
  height: 100px;
  padding: 5px;
  margin: 5px auto;
}

/* 戻るボタン */
#back {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: bold;
  background-color: #757575;
  cursor: pointer;
}

@media screen and (min-width: 769px) {
  main .wrap {
    max-width: 1000px;
    margin: 0 auto;
  }

  /* 写真編集 */
  .code-imgs {
    justify-content: space-around;
    margin: 0 auto;
  }
  .code-img {
    width: 200px;
    height: calc(200px * 5 / 4);
    margin: 0px 0px 40px;
  }

  /* アンケート */
  #questionnaire {
    max-width: 769px;
    margin: 0px auto 40px;
  }
  #questionnaire .wrap-question {
    padding: 10px;
  }
  #questionnaire .question {
    font-size: 1.4rem;
  }

  /* チェックボタン */
  .check-buttons {
    padding: 10px;
  }
  .check-button {
    font-size: 1.8rem;
    line-height: 23px;
  }

  /* テキストエリア */
  .answer-textarea {
    width: calc(100% - 30px);
    font-size: 1.8rem;
    margin: 10px auto;
  }

  /* 戻るボタン */
  #back {
    max-width: 200px;
    margin: 0px auto;
  }
}
