@charset "UTF-8";
main {
  padding-top: 0;
  margin-bottom: 80px;
}

/* エラーメッセージのスタイル */
main .err-msg {
  color: #e7312d;
  font-size: 1.2rem;
  text-align: center;
  margin: 0px;
}

main .wrap {
  padding: 0 20px;
}
main .item {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  color: #555555;
  margin: 20px auto 0px;
}

/* 写真編集 */
.add-imgs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 769px;
  padding: 20px 0px;
}
.add-img {
  display: block;
  position: relative;
  width: 27vw;
  height: calc(27vw * 5 / 4);
  box-sizing: border-box;
  margin: 0px 0px 20px;
}
.add-img .code-img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

/* +アイコン, -アイコン */
.add-img span.icon-plus,
.add-img span.icon-remove {
  position: absolute;
  display: block;
  bottom: -8px;
  right: -8px;
  z-index: 10;
  width: 36px;
  height: 36px;
  box-sizing: border-box;
  font-size: 2rem;
  text-align: center;
  line-height: 36px;
  color: #f54ea2;
  background-color: #ffffff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16);
  border-radius: 50%;
}
/* -アイコン */
.add-img span.icon-remove {
  font-weight: bold;
}

/* アンケート */
#questionnaire {
  box-sizing: border-box;
  margin-bottom: 40px;
}
#questionnaire .wrap-question {
  padding: 5px;
  border: 1px solid #555555;
  border-top: none;
  background-color: #ffcae4;
}
#questionnaire .wrap-question:first-child {
  border-top: 1px solid #555555;
  border-radius: 5px 5px 0px 0px;
}
#questionnaire .question {
  font-size: 1.2rem;
  line-height: 1;
  font-weight: bold;
  color: #232231;
}
#questionnaire .wrap-answer {
  padding: 5px;
  border: 1px solid #555555;
  border-top: none;
  background-color: #ffffff;
}
#questionnaire .wrap-answer:last-child {
  border-radius: 0px 0px 5px 5px;
}

/* チェックボタン */
.check-buttons {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.check-button {
  display: block;
  box-sizing: border-box;
  border: 2px solid #757575;
  background-color: #ffffff;
  border-radius: 20px;
  color: #757575;
  font-size: 1.6rem;
  line-height: 21px;
  padding: 0 10px;
  margin: 5px;
  transition: all 0.3s ease;
  outline: none;
  cursor: pointer;
}
.checked {
  border-color: #f54ea2;
  color: #f54ea2;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}
.disabled {
  border-color: #bdbdbd;
  color: #bdbdbd;
}

/* テキストエリア */
.answer-textarea {
  resize: none;
  display: block;
  border: 1px solid #555555;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1.6rem;
  line-height: 21px;
  width: calc(100% - 10px);
  height: 100px;
  padding: 5px;
  margin: 5px auto;
}

/* submit ボタン */
#submit {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 38px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #f54ea2;
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: bold;
  cursor: pointer;
}

@media screen and (min-width: 769px) {
  main .wrap {
    max-width: 1000px;
    margin: 0 auto;
  }
  main .item {
    font-size: 1.8rem;
  }

  /* エラーメッセージのスタイル */
  main .err-msg {
    font-size: 1.4rem;
  }

  /* 写真編集 */
  .add-imgs {
    justify-content: space-around;
    margin: 0 auto;
  }
  .add-img {
    width: 200px;
    height: calc(200px * 5 / 4);
    margin: 0px 0px 40px;
  }
  .add-img:hover {
    cursor: pointer;
  }

  /* +アイコン, -アイコン */
  .add-img span.icon-plus,
  .add-img span.icon-remove {
    bottom: -8px;
    right: -8px;
    width: 52px;
    height: 52px;
    font-size: 2.8rem;
    line-height: 52px;
  }

  /* アンケート */
  #questionnaire {
    max-width: 769px;
    margin: 0px auto 40px;
  }
  #questionnaire .wrap-question {
    padding: 10px;
  }
  #questionnaire .question {
    font-size: 1.4rem;
  }

  /* チェックボタン */
  .check-buttons {
    padding: 10px;
  }
  .check-button {
    font-size: 1.8rem;
    line-height: 23px;
  }

  /* テキストエリア */
  .answer-textarea {
    width: calc(100% - 30px);
    font-size: 1.8rem;
    margin: 10px auto;
  }

  /* submit ボタン */
  #submit {
    width: 350px;
    margin: 0px auto;
  }
}
