@charset "UTF-8";
html {
  overflow-x: hidden;
  box-sizing: border-box;
}
body {
  width: 100vw;
  margin: 0;
  overflow-x: hidden;
}
main {
  padding-top: 0px;
  padding-bottom: 0px;
  color: #232231;
}

/* ヒーローヘッダー */
#hero-header {
  position: relative;
  display: flex;
  flex-direction: column;
}
#hero1 {
  position: relative;
  height: 250px;
  width: 100%;
  background-image: url(../images/fashion-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

a.hero-user-login {
  position: absolute;
  display: block;
  font-size: 1rem;
  color: #ffffff;
  border: 1.5px solid #ffffff;
  border-radius: 20px;
  padding: 5px 7px;
  top: 16px;
  right: 8px;
}

#hero2 {
  position: relative;
  height: 250px;
  width: 100%;
  background-image: url(../images/make-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

#logo-top {
  position: absolute;
  top: 128px;
  left: 40px;
  font-size: 4.8rem;
  color: #ffffff;
  line-height: 1;
  text-shadow: 0px 3px 6px #f54444fb;
}
#hero-h1 {
  position: absolute;
  top: 320px;
  left: 24px;
  font-size: 1.6rem;
  line-height: 28px;
  color: #ffffff;
  text-shadow: 0px 3px 6px #f54444fb;
}
#hero-h2 {
  position: absolute;
  top: 400px;
  left: 24px;
  font-size: 1rem;
  line-height: 20px;
  color: #ffffff;
  text-shadow: 0px 3px 6px #f54444fb;
}

/* メインエリア */
main .wrap {
  width: 100%;
  max-width: 640px;
  box-sizing: border-box;
  padding: 0px 16px;
  margin: 0px auto;
}

.register-buttons {
  padding: 16px 0px;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
}
.register-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
  height: 64px;
  background: transparent linear-gradient(61deg, #ffdebe 0%, #ff88c5 100%) 0% 0% no-repeat padding-box;
  border-radius: 10px;
  box-shadow: 0px 3px 6px #00000029;
}
.register-text {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
  color: #424141;
}

.main-h2 {
  text-align: center;
  font-size: 2rem;
  line-height: 40px;
}
.main-p {
  text-align: center;
  font-size: 1.4rem;
  line-height: 32px;
  margin-bottom: 32px;
}

.container-procs {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.deco-frame {
  position: absolute;
  z-index: -1;
  width: 140%;
  height: 80%;
  top: 96px;
  left: -64px;
  box-sizing: border-box;
  box-shadow: 0px 3px 6px #00000029;
  background-color: #f4f4f4;
  border-top: 32px solid #f54ea280;
  border-right: 32px solid #f54ea280;
  border-bottom: 32px solid #44cdf5;
  border-left: 32px solid #44cdf5;
  transform: matrix(0.95, -0.56, 0.56, 0.95, 0, 0);
}

.content-proc {
  box-sizing: border-box;
  width: 50%;
  padding-top: 32px;
  margin-bottom: 32px;
}
.content-proc-img {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

.content-proc-img .proc-img {
  align-self: flex-start;
  display: block;
  width: 80%;
}

.proc-h {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 16px;
}
.proc-p {
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 28px;
}

.offer-talent-h3 {
  font-size: 1.6rem;
  line-height: 28px;
  text-align: center;
  margin-bottom: 32px;
}
.imgs-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin-bottom: 32px;
  height: auto;
}
.img-offer-talent {
  display: block;
  width: 40%;
  align-self: flex-start;
}

.genre-h3 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 16px;
}
.genre-p {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 1.2rem;
  line-height: 20px;
  margin-bottom: 32px;
  word-break: break-all;
}
.genre-p span {
  padding: 0px 2px;
}

@media screen and (min-width: 480px) {
  #hero1 {
    height: 300px;
  }
  a.hero-user-login {
    font-size: 1.2rem;
    padding: 7px 9px;
  }
  #hero2 {
    height: 300px;
  }
  #logo-top {
    font-size: 5.6rem;
    top: 160px;
  }
  #hero-h1 {
    font-size: 2rem;
    top: 392px;
  }
  #hero-h2 {
    font-size: 1.4rem;
    top: 472px;
  }

  main .wrap {
    padding: 0px 24px;
  }

  .main-h2 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 48px;
  }
  .main-p {
    font-size: 1.6rem;
    margin-bottom: 64px;
  }

  .container-procs {
    margin-bottom: 64px;
  }
  .proc-h {
    font-size: 2rem;
    margin-bottom: 24px;
  }
  .proc-p {
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 36px;
  }

  .offer-talent-h3 {
    font-size: 2.4rem;
    line-height: 36px;
  }

  .genre-p {
    font-size: 1.5rem;
    line-height: 23px;
  }
  .genre-p span {
    padding: 0px 4px;
  }
}

@media screen and (min-width: 769px) {
  #hero-header {
    flex-direction: row;
  }
  #hero1,
  #hero2 {
    width: 50%;
    height: 400px;
    opacity: 0.9;
  }
  #logo-top {
    font-size: 8rem;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  #hero-h1 {
    text-align: center;
    font-size: 2.2rem;
    font-weight: bold;
    line-height: 36px;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  #hero-h2 {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  a.hero-user-login {
    background-color: #ff88c5;
    opacity: 0.8;
    right: 24px;
  }
  .register-buttons {
    padding-top: 32px;
  }
}

@media screen and (min-width: 1024px) {
  #hero1,
  #hero2 {
    width: 50%;
    height: 480px;
  }
}
